<!-- SCM Music Player https://www.scmplayer.net -->
<script type="text/javascript" src="https://www.scmplayer.net/script.js"
data-config="{'skin':'https://static.tumblr.com/6m9nktj/IXdm8lgbe/3dcross.css','volume':50,'autoplay':true,'shuffle':true,'repeat':1,'placement':'bottom','showplaylist':false,'playlist':[{'title':'Closer - Retro %2750s Prom Style Chainsmokers / Halsey Cover ft. Kenton Chen','url':'https://youtu.be/jemgIOAjGDw'},{'title':'Holy - Justin Bieber','url':'https://youtu.be/qaq0nNXy0ak'},{'title':'%uD558%uB8E8%uC885%uC77C - %uC7AC%uC9C0%uD329%uD2B8','url':'https://youtu.be/v44Gt9lg11g'}]}" ></script>
<!-- SCM Music Player script end -->
